In [14]:
!pip install numpy 
!pip install pandas
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: numpy in d:\movie recommender system\myenv\lib\site-packages (1.26.4)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in d:\movie recommender system\myenv\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\movie recommender system\myenv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in d:\movie recommender system\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\movie recommender system\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in d:\movie recommender system\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\movie recommender system\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in d:\movie recommender system\myenv\lib\site-packages (3.8.3)
Requirement already satisfied: pillow>=8 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (4.50.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: numpy<2,>=1.21 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: contourpy>=1.0.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: six>=1.5 in d:\movie recommender system\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: seaborn in d:\movie recommender system\myenv\lib\site-packages (0.13.2)
Requirement already satisfied: pandas>=1.2 in d:\movie recommender system\myenv\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\movie recommender system\myenv\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\movie recommender system\myenv\lib\site-packages (from seaborn) (3.8.3)
Requirement already satisfied: cycler>=0.10 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: pillow>=8 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: packaging>=20.0 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: fonttools>=4.22.0 in d:\movie recommender system\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.50.0)
Requirement already satisfied: tzdata>=2022.7 in d:\movie recommender system\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: pytz>=2020.1 in d:\movie recommender system\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in d:\movie recommender system\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

In [15]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\movie recommender system\myenv\lib\site-packages (1.4.1.post1)
Requirement already satisfied: scipy>=1.6.0 in d:\movie recommender system\myenv\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in d:\movie recommender system\myenv\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: joblib>=1.2.0 in d:\movie recommender system\myenv\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\movie recommender system\myenv\lib\site-packages (from scikit-learn) (3.3.0)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

In [20]:
import numpy as np
import pandas as pd

In [21]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [22]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [23]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
movies=movies.merge(credits,on='title')

In [25]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2213,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,10773,"[{""id"": 1956, ""name"": ""world war ii""}, {""id"": ...",en,Mrs Henderson Presents,Eccentric 70-year-old widow purchases the Wind...,2.894154,[],...,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Mrs Henderson Presents,6.4,62,10773,"[{""cast_id"": 1, ""character"": ""Mrs. Laura Hende...","[{""credit_id"": ""52fe43b49251416c7501ae99"", ""de..."

In [26]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [27]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [28]:
movies.isna().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [29]:
movies.dropna(inplace=True)

In [30]:
movies.duplicated().sum()

0

In [31]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [32]:
def change(obj):
    lis=[]
    for i in ast.literal_eval(obj):
        lis.append(i['name'])
    return lis

In [33]:
import ast

movies['genres']=movies['genres'].apply(change)

In [34]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [35]:
movies['keywords'] = movies['keywords'].apply(change)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [36]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [37]:
def change1(text):
    lis = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            lis.append(i['name'])
        counter+=1
    return lis

In [38]:
movies['cast'] = movies['cast'].apply(change1)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [40]:
def fetch_director(text):
    lis = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            lis.append(i['name'])
    return lis

In [41]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [42]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
2501,34647,Enter the Void,This psychedelic tour of life after death is s...,"[Fantasy, Drama]","[prostitute, hallucination, strip club, afterl...","[Nathaniel Brown, Paz de la Huerta, Cyril Roy]",[Gaspar Noé]
3910,5854,Family Plot,Lighthearted suspense film about a phony psych...,"[Comedy, Crime, Thriller]","[fortune teller, kidnapping, false identity, h...","[Barbara Harris, Bruce Dern, Karen Black]",[Alfred Hitchcock]
4490,26837,B-Girl,"A young female breakdancer, Angel, moves to Lo...","[Crime, Drama, Music]","[dancing, hip-hop, b-girl, street dance, b-boy...","[Julie 'Jules' Urich, Missy Yager, Wesley Jona...",[Emily Dell]
215,1979,Fantastic 4: Rise of the Silver Surfer,The Fantastic Four return to the big screen as...,"[Adventure, Fantasy, Action, Thriller]","[fire, helicopter, surfboard, mask, satellite,...","[Ioan Gruffudd, Jessica Alba, Chris Evans]",[Tim Story]
721,10628,Kangaroo Jack,"Two childhood friends, a New York hairstylist ...","[Comedy, Adventure, Crime]","[money delivery, fool, australia, hoodlum, kan...","[Jerry O'Connell, Anthony Anderson, Estella Wa...",[David McNally]

In [43]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [44]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4549,73511,The Californians,When real estate mogul Gavin Ransom (Noah Wyle...,"[Drama, Comedy]",[],"[NoahWyle, IlleanaDouglas, KateMara]",[JonathanParker]
4159,13516,Slacker Uprising,Slacker Uprising is a movie of Michael Moore's...,[Documentary],[presidentialelections],"[MichaelMoore, EddieVedder, RobertEllisOrrall]",[MichaelMoore]
4653,109729,The Canyons,The discovery of an illicit love affair leads ...,"[Thriller, Drama]","[sex, adultery, jealousy, nudity, seduction, c...","[LindsayLohan, JamesDeen, GusVanSant]",[PaulSchrader]
4634,27420,Graduation Day,"After a high school track runner, named Laura,...",[Horror],[slasher],"[ChristopherGeorge, BillyHufsey, PatchMackenzie]",[HerbFreed]
4568,297100,The Little Ponderosa Zoo,The Little Ponderosa Zoo is preparing for thei...,[],[],[],[]

In [45]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [46]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [47]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [48]:
movies_new=movies[['movie_id','title','tags']]

In [49]:
movies_new['tags']=movies_new['tags'].apply(lambda x:" ".join(x))

C:\Users\balaji\AppData\Local\Temp\ipykernel_16316\4235123549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']=movies_new['tags'].apply(lambda x:" ".join(x))

In [50]:
movies_new['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [51]:
movies_new['tags']=movies_new['tags'].apply(lambda x:x.lower())

C:\Users\balaji\AppData\Local\Temp\ipykernel_16316\933172487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']=movies_new['tags'].apply(lambda x:x.lower())

In [52]:
movies_new.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [53]:
movies_new['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [55]:
vector = cv.fit_transform(movies_new['tags']).toarray()

In [56]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [57]:
!pip install nltk

Requirement already satisfied: nltk in d:\movie recommender system\myenv\lib\site-packages (3.8.1)

WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the 'D:\movie recommender system\myenv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: tqdm in d:\movie recommender system\myenv\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: joblib in d:\movie recommender system\myenv\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: click in d:\movie recommender system\myenv\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in d:\movie recommender system\myenv\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: colorama in d:\movie recommender system\myenv\lib\site-packages (from click->nltk) (0.4.6)

In [58]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [59]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [60]:
movies_new['tags']=movies_new['tags'].apply(stem)

C:\Users\balaji\AppData\Local\Temp\ipykernel_16316\3246157018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_new['tags']=movies_new['tags'].apply(stem)

In [61]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [62]:
vector = cv.fit_transform(movies_new['tags']).toarray()

In [63]:
vector.shape

(4806, 5000)

In [64]:
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
similarity = cosine_similarity(vector)

In [66]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [67]:
def recommend(movie):
    movie_index=movies_new[movies_new['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(movies_new.iloc[i[0]].title)

In [68]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [69]:
movies_new.iloc[1216].title

'Autumn in New York'

In [70]:
import pickle

In [71]:
pickle.dump(movies_new,open('movies.pkl','wb'))

In [72]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [73]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."